<html lang="HTML">

<body>


<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <input type="submit" value="Sign Out"/>
</form>
<br>
<a href="/filterByTag">Message find by tag</a>
<br>
<div>
    Enter message and tag:
</div>
<div>
    <form method="post">
        <label>
            <input type="text" name="text" placeholder="Enter message">
        </label>
        <label>
            <input type="text" name="tag" placeholder="Enter tag">
        </label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Submit</button>
    </form>
</div>

<div>List of message:</div>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
        <strong>{{authorName}}</strong>
    </div>
{{/messages}}

</body>
</html>